body{
    background-image: url(banner1.jpg);
    background-repeat: repeat;
}

form{
    text-align: center;
    border: 8em;
    padding: 2em;
}

legend{
    background-color: green;
    color:white;
    padding:0.5em;
}

fieldset{
    margin: 0 auto;
    position: center;
    border: solid 1pt rgb(167, 167, 167);
    border-collapse: separate;
    background-color: lightgreen;
}


textarea{
    width: 24em;
    height: 16em;
}

#postForm,#clearbtn,#preview{
    margin-left: 2em;
    margin-right: 2em;
    
}
