body{
    background-image: url(banner1.jpg);
    background-repeat: repeat;
}


form{
    border: solid 1pt black;
    background-color:rgb(255, 255, 187);
}



section{
    vertical-align: center;
    text-align: center;
    padding: 2em;
    border: solid 1pt black;
    background-color: #bfffb9;
    margin: 2em;   
    padding-bottom: 2em; 
}

h6{
    text-align: right;
    font-size: 6px;
}

section p{
    margin-left: 3em;
    margin-right: 3em;
    word-wrap: break-word; 
}